<%
  set_meta_tags(
    title: "Пины",
    description: "Самые класные пины",
    keywords: "пины, картинки, дизайн"
  )
%>

<%= turbo_stream_from "pins_likes" %>

<p style="color: green"><%= notice %></p>

<h1>Pins</h1>

<div id="pins">
  <% @pins.each do |pin| %>
    <%= render pin %>
  <% end %>
</div>

<%= link_to "New pin", new_pin_path %>