<% content_for :footer do %>
  <div>ะญัะพ ะบะพะฝัะตะฝั ะดะปั ัััะตัะฐ</div>
<% end %>

<div>
  <%= t :hello %>
</div>

<div class="images">
  <div class="image" id="bgPNG"></div>
  <div class="image" id="bgJPG"></div>
  <div class="image" id="bgSVG"></div>

  <%= image_tag "image.png" %>
  <%= image_tag "image.jpg" %>
  <%= image_tag "image.svg" %>
</div>

<div class="container">
  <div class="item"></div>
  <div class="item wide"></div>
</div>

<div class="containerSCSS">
  <div class="itemSCSS"></div>
  <div class="itemSCSS wideSCSS"></div>
</div>

<% content_for :breadcrumbs do %>
  <div>ะญัะพ ัะปะตะฑะฝัะต ะบัะพัะบะธ</div>
<% end %>

<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <div data-action="click->hello#greet">Click</div>
</div>

<div data-controller="slideshow" data-slideshow-index-value="1">
  <button data-action="slideshow#previous"> โ </button>
  <button data-action="slideshow#next"> โ </button>

  <div data-slideshow-target="slide">๐ต</div>
  <div data-slideshow-target="slide">๐</div>
  <div data-slideshow-target="slide">๐</div>
  <div data-slideshow-target="slide">๐</div>
</div>