<div class="galleryNavigation">
  <div class="button" data-gallery-target="prevButton" data-action="click->gallery#prevImage">←</div>
  <div class="button" data-gallery-target="nextButton" data-action="click->gallery#nextImage">→</div>
</div>