/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.comment {
  border: 1px solid black;
  padding: 20px;
}

.reply {
  margin-left: 100px;
}

.container {
  width: 600px;
  height: 100px;
  padding: 100px;
  background-color: lightblue;

  .item {
    width: 100px;
    height: 100px;
    background-color: green;

    &.wide {
      width: 200px;
    }
  }
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .image {
    &#bgPNG {
      background-image: url('image.png');
    }

    &#bgJPG {
      background-image: url('image.jpg');
    }

    &#bgSVG {
      background-image: url('image.svg');
    }
  }
}

.pin {
  width: 600px;
  padding: 40px;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.product {
  position: relative;
  width: 600px;
  padding: 40px;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: rgb(220, 240, 255);

  .addToCart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition-timing-function: cubic-bezier(1, 0.44, 0.84, 0.165);
  }
}

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid lightgrey;

  & > div {
    display: flex;
    gap: 10px;
  }
}

.addToCartButton {
  display: inline-block;
  padding: 10px;
  background: black;
  color: white;
  cursor: pointer;
  user-select: none;
}

#cartbar {
  &.addToCart {
    animation: shakeCart 0.4s ease-in-out forwards;
  }
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
