<%
  items = 0
  total = 0

  @cart.products.each do |product|
    items += 1
    total += product.price
  end
%>

<div id="cartbar">
  Корзина: товаров <span class="counter"><%= items %></span>, на сумму <%= total %> ₽
</div>